html * {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    height: 300px;
    width: 340px;
    background: #eee;
}

li {
    display: inline-block;
    float: left;
    list-style-type: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}

#emo-type {
    height: 35px;
    width: 100%;
    border-bottom: thin gray solid;
}

#emo-type-list,
#emo-list {
    display: block;
    margin-left: -27px;
}

#emo-type-list li {
    font-size: 2.2em;
    padding-right: 6px;
    padding-left: 6px;
    border-right: thin gray dotted;
    height: 25px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -webkit-transition: .1s ease-out;
}

#emo-type-list li:nth-child(8) {
    border-right: none;
}

#emo-type-list li:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#emo-list li {
    font-size: 1.6em;
    padding-right: 6px;
    padding-left: 6px;
    transition: .2s ease-in-out;
}

#emo-list li:hover {
	background: #e1e1e1;
}

#emo-list {
    overflow: auto;
    min-height: 340px;
    max-height: 340px;
}

#emo-search-icon {
    font-size: 18px;
    color: #455A64;
    cursor: copy;
    transition: all 0.2s;
}

#emo-search-icon:hover {
    font-size: 18px;
    color: #E53935;
}

#emo-search {
    width: 90%;
    height: 20px;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    margin-left: 8px;
    background: #eee;
    border: none;
    font-size: 14px;
    color: #a6a6a6;
    font-weight: 500;
}
